[project]
	description = First Test Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JayshreeM
[access "refs/for/refs/*"]
	read = group user/JayshreeM
	push = group user/JayshreeM
	label-Code-Review = -2..+2 group user/JayshreeM
	label-Verified = -1..+1 group user/JayshreeM
	rebase = group user/JayshreeM
	removeReviewer = group user/JayshreeM
	submit = group user/JayshreeM
[access "refs/heads/*"]
	read = group user/JayshreeM
	create = group user/JayshreeM
	push = +force group user/JayshreeM
	pushMerge = group user/JayshreeM
[access "refs/tags/*"]
	push = +force group user/JayshreeM
	pushTag = group user/JayshreeM
	pushSignedTag = group user/JayshreeM
